# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GNU Autotools and Makefile related
Makefile
*.in~
*.status

# Unit test and functional test results
*.log
*.trs

# Other temporary files
*.swp
.deps

# CMake related
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
